/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 1rem;
  background-color: #f9f9f9;
  color: #333;
  width: 480px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}


.back-btn {
  display: inline-block;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #2a9d8f;
  font-weight: bold;
}

.back-btn i {
  margin-right: 0.5rem;
}
i .fas {
  color: white;
}

.icon-btn:hover {
  color: #21867a;
}

/* Checklist Item */
.checklist-item {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
}
.checklist-item-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}
.checklist-item-group label {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1rem;
}

.checkbox-group {
  display: flex; /* Align items horizontally */
  gap: 1rem; /* Add spacing between the options */
  align-items: center; /* Align radio buttons and labels vertically */
}

.checkbox-group label {
  display: flex; /* Use Flexbox for each label */
  align-items: center; /* Align the radio button and text vertically */
  gap: 0.5rem; /* Add spacing between the radio button and the text */
  font-size: 1rem; /* Adjust font size for better readability */
  cursor: pointer; /* Make the label clickable */
}

.checkbox-group input[type="radio"] {
  cursor: pointer; /* Show pointer cursor on hover */
}

.image-upload {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
/* .x {
  font-size: 1rem;
} */

.hidden {
  display: none;
}

.image-input {
  padding: 0;
  display: block;
  margin-top: 0.5rem;
  cursor: pointer;
  width: 100%;
}

/* Image Input and Preview */
.image-preview {
  width: 100%;
  padding-top: 100%; /* Maintain a 1:1 aspect ratio */
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5rem;
}
