* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 1rem;
    font-size: medium;
}
.fa-upload {
    font-size: large;
}
.fa-redo {
    font-size: large;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    position: relative;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #eee;
}

.card-header button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    color: #666;
}

.card-header button:hover {
    color: #333;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
    font-weight: bold;
    width: 30%;
}
.form-group.textarea {
    width: 50%;
    align-self: flex-end;
    place-self: end;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.form-group textarea {
    min-height: 60px;
    resize: vertical;
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1 aspect ratio */
    margin-bottom: 1rem;
}

.image-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px dashed #ddd;
}
.form-group-image {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.add-card-button:hover {
    background: #0056b3;
}

.delete-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
    padding: 0.5rem;
}

.delete-button:hover {
    color: #c82333;
}

@media print {
    @page {
        size: A4 portrait;
        margin: 1cm;
    }

    body {
        padding: 0;
        background: white;
    }

    .card {
        break-inside: avoid;
        width: 50%;
        float: left;
        page-break-inside: avoid;
        margin: 0;
        padding: 0.5cm;
        box-shadow: none;
    }

    .add-card-button,
    .delete-button {
        display: none;
    }
}